.detalle-fruta {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
  }
  
.fruta-item {
    cursor: pointer;
    color: #0366d6; 
    text-decoration: underline;
  }
  
  .fruta-item:hover {
    background-color: #f0f0f0; 
  }
  